[submodule "common/vim/bundle/vim-markdown"]
	path = common/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "common/vim/bundle/vim-fugitive"]
	path = common/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "common/vim/pathogen"]
	path = common/vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "common/vim/bundle/vim-eunuch"]
	path = common/vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "common/vim/bundle/vim-colors-solarized"]
	path = common/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "common/lisp/quicklisp"]
	path = common/lisp/quicklisp
	url = git://github.com/quicklisp/quicklisp-bootstrap.git
	ignore = dirty
[submodule "common/lisp/quicklisp-client"]
	path = common/lisp/quicklisp-client
	url = git://github.com/quicklisp/quicklisp-client.git
	ignore = dirty
[submodule "common/lisp/emacs/slime"]
	path = common/lisp/emacs/slime
	url = git://github.com/nablaone/slime.git
	ignore = dirty
[submodule "common/lisp/emacs/linum"]
	path = common/lisp/emacs/linum
	url = git://github.com/emacsmirror/linum.git
	ignore = dirty
[submodule "common/lisp/emacs/linum-plus"]
	path = common/lisp/emacs/linum-plus
	url = git://github.com/emacsmirror/linum-plus.git
	ignore = dirty
[submodule "common/lisp/emacs/js2-mode"]
	path = common/lisp/emacs/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "common/lisp/emacs/site-packages/emacs-color-theme-solarized"]
	path = common/lisp/emacs/site-packages/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
	ignore = dirty
