[submodule "common/vim/bundle/vim-markdown"]
	path = common/vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "common/vim/bundle/vim-fugitive"]
	path = common/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "common/vim/pathogen"]
	path = common/vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "common/vim/bundle/vim-eunuch"]
	path = common/vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "common/vim/bundle/vim-colors-solarized"]
	path = common/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "common/lisp/quicklisp"]
	path = common/lisp/quicklisp
	url = git://github.com/quicklisp/quicklisp-bootstrap.git
	ignore = dirty
[submodule "common/lisp/quicklisp-client"]
	path = common/lisp/quicklisp-client
	url = git://github.com/quicklisp/quicklisp-client.git
	ignore = dirty
[submodule "common/lisp/emacs/site-packages/emacs-color-theme-solarized"]
	path = common/lisp/emacs/site-packages/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
	ignore = dirty
[submodule "common/lisp/emacs/site-packages/dylan-mode"]
	path = common/lisp/emacs/site-packages/dylan-mode
	url = git://github.com/dylan-lang/dylan-mode.git
[submodule "common/lisp/emacs/site-packages/redshank"]
	path = common/lisp/emacs/site-packages/redshank
	url = http://www.foldr.org/~michaelw/projects/redshank.git
